*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%;
    
}

.main-section{
    background-color: hsl(30, 38%, 92%);
    padding: 9.6rem;
    /* height: 100vh; */
}
.card-image{
    background-image:url(../product_preview_card_component_main/images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
  }

.grid-container{
    display: grid;
    grid-template-columns:1fr 1fr ;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.4rem;
    overflow: hidden;
}
.card-category{
    color: hsl(228, 12%, 48%);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
}
.card-product-name{
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    line-height: 3rem;
    font-family: 'Fraunces';
    color: hsl(212, 21%, 14%);
    font-weight: 700;

}

.card-product-info{
    font-size: 1.4rem;
    color: hsl(228, 12%, 48%);
    margin-bottom:3rem;
    font-family: 'Montserrat';
    line-height: 2rem;
}
.card-info{
    padding: 3rem;
}

.card-prices{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.4rem;
}
.card-prices h1{
    font-size: 3rem;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
}
.card-prices p{
    font-size: 1.3rem;
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    opacity: 90%;
}

.flex-btn{
    display: flex;
    justify-content: center;
}


button{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.7rem;
    border: none;
    border-radius: 1rem;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
}
button:hover{
    background-color:hsl(158, 76%, 15%);
}

.card-btn{
    color: #fff;
}
.flex-btn span{
    color: #fff;
    font-family: 'Montserrat';

    font-weight: 600;
}
@media (max-width:44.2em) {
    html{
        font-size: 56.25%;
    }
}
@media (max-width:39.4em) {
    html{
        font-size: 50%;
    }
}
@media (max-width:35em) {
    html{
        font-size: 44%;
    }
}

@media (max-width:33.3em) {
    html{
        font-size: 37.5%;
    }
}

@media (max-width:30em) {
    .card-image{
        height: 44rem; 

    }
    .grid-container{
        grid-template-columns:1fr;
    
    }
    .main-section{
        padding: 3rem;
    }
    .card-product-name{
        font-size: 5rem;
        line-height: 5rem;
    
    }
    .card-product-info{
        font-size: 2.4rem;
        line-height: 3rem;

    }
    .card-prices h1{
        font-size: 5rem;
    }
    .card-prices p{
        font-size: 1.8rem;
    }
    button{
        padding: 2.2rem;
    }
    .card-category{
        font-size: 2rem;
    }
}