*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hanken Grotesk';
}

html{
    font-size: 62.5%;
}

.first-container{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color:  hsl(221, 100%, 96%);

}
.second-container{
    max-width: 50rem;

}
.col--2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);

}
.first-column{
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 2rem;
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    color: hsl(0, 0%, 100%);


}
.great{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.second-column{
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 2rem;
}
.first-column-p{
    color: hsl(241, 100%, 89%);
    font-size: 1.8rem;

}
.inside--circle{
    height: 15rem;
    width: 15rem;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}
.inside--circle h1{
    font-size: 5rem;
}
.inside--circle p{
    color: hsl(223, 100%, 90%);
    opacity: 60%;
    font-size: 1.4rem;

}
.first-column h2{
    font-size: 2.6rem;
    font-weight: 500;
}

.first-column-report{
    font-size: 1.4rem;
    color: hsl(241, 100%, 89%);
    text-align: center;
    font-weight: 500;
    line-height: 2rem;

}
.second-column-summary{
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}


ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
ul li{
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}
.inside-flex-one{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.inside-flex-two{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.inside-flex-two p{
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}
.inside-flex-two h4{
    color: hsl(222, 21%, 77%);
    font-weight: 800;
}
.li-one .inside-flex-one{
    color: hsl(0, 100%, 67%);
    font-weight: 800;

}
.li-one{
    background-color:hsl(0, 100%, 96%);;
    padding: 0.8rem;
    border-radius: 1rem;
}
.li-two .inside-flex-one{
    color: hsl(39, 100%, 56%);
    font-weight: 800;

}
.li-two{
    background-color: hsl(39, 100%, 96%);
    padding: 0.8rem;
    border-radius: 1rem;
}
.li-three .inside-flex-one{
    color: hsl(166, 100%, 37%);
    font-weight: 800;

}
.li-three{
    background-color: hsl(166, 100%, 96%);
    padding: 0.8rem;
    border-radius: 1rem;
}
.li-four .inside-flex-one{
    color: hsl(234, 85%, 45%);
    font-weight: 800;

}
.li-four{
    background-color:hsl(234, 85%, 96%);
    padding: 0.8rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

button{
    width: 100%;
    padding: 1.4rem;
    border-radius: 2rem;
    border: none;
    background-color:hsl(224, 30%, 27%) ;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.3rem;
    transition: all 1s;
}
button:hover , button:active{
    background-color: hsl(241, 81%, 54%);
}

.attribution{
    /* margin-top: 6rem; */
    text-align: center;
    font-size: 1.4rem;
}

@media(max-width:36em){
    html{
        font-size:56.25% ;
    }

}
@media(max-width:32.5em){
    html{
        font-size:50% ;
    }

}

@media(max-width:30em){
  
    .col--2{
    
        grid-template-columns: 1fr;
        background-color: hsl(0, 0%, 100%);
    }

    .second-container{
        padding: 2rem;
    }
  
    .second-container{
        max-width: 34rem;
    }
    ul li{
    font-size: 1.4rem;
    }
    .li-one, .li-two, .li-three, .li-four{
        padding: 1.4rem;
    }
    button{
        padding: 2rem;
        font-size: 1.5rem;

    }
}

