*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Overpass';
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);

}
html{
    font-size: 62.5%;
}

.section-container{
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 3rem;
}

.main-container{
    max-width: 38rem;
}

.flex-content{
    background-color:hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    border-radius: 2rem;
}



.icon-container{
    height: 5rem;
    width: 5rem;
    background-color: hsl(213, 19%, 30%);
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.How-container{
    font-size: 1.5rem;
}

.content-container{
    color: hsl(216, 12%, 54%);
    line-height: 2rem;
    font-size: 1.5rem;
}


.numbers-container ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    /* justify-content: space-between; */
}

.numbers-container ul li{
    height: 5rem;
    width: 5rem;
    background-color: hsl(213, 19%, 30%);
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in;
    font-size: 1.5rem;
    color: hsl(216, 12%, 80%);
    font-weight: 700;

}


.first-section-btn{
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: hsl(25, 97%, 53%);
    outline: none;
    border: none;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s ease-in;
}
.first-section-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%) ;
}


.numbers-container ul li:hover {
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
}

.numbers-container ul li:active{
    background-color: hsl(216, 12%, 54%);
}



@media (max-width:30em) {
    html{
        font-size: 56.25%;
    }
}


.second-flex-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: hsl(213, 19%, 18%);
    animation: fadeIn 3s
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

.selected-container{
    padding: 1.4rem;
    background-color: hsl(0, 100%, 96%);
    border-radius: 2rem;
    
}

.selected-container p{
    font-size: 1.4rem;
    color:hsl(25, 91%, 50%) ;
    font-weight: 500;
    word-spacing: .2rem;
}

.appreciation-container{
    font-size: 2rem;
}

.appreciation-content{
    color: hsl(216, 12%, 54%);
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;

}

.hidden{
    display: none;
}

.attribution{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    word-spacing: .1em;
}

.attribution a {
    text-decoration: none;
    color: hsl(25, 97%, 53%)

}
